# https://coverage.readthedocs.io/en/coverage-5.0.4/config.html
[run]
branch = True
omit =
    deal/linter/_template.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
