# python
*.pyc
__pycache__/
*.egg-info/
dist/
/venvs/
/.venvs/

# coverage
.coverage
.coverage.*
coverage.xml
htmlcov/

# profiling
/callgraph.svg
/profile.svg
/profile.pstats
/*.lprof

# other
README.rst
docs/build/
/setup.py
.dephell_report/
.mypy_cache/
.pytype/
.pytest_cache/
/tmp.py
.hypothesis/
.task/
poetry.lock
